*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
app/libs/
app/src/androidTest/
app/src/main/res/mipmap-anydpi-v26/
app/src/test/
gradle/
gradlew
gradlew.bat
uistatus/src/androidTest/
uistatus/src/test/
